name: example-workflow.yml
on:
  workflow_dispatch:

jobs:
  start-runner:
    name: Start EC2 runner
    runs-on: ubuntu-latest
    outputs:
      runner-label: ${{ steps.start-ec2-runner.outputs.runner-label }}
      instance-id: ${{ steps.start-ec2-runner.outputs.instance-id }}
    steps:
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v5
        with:
          audience: sts.amazonaws.com
          role-to-assume: arn:aws:iam::${{ vars.AWS_ACCOUNT_ID }}:role/YourGitHubActionsRoleHere
          aws-region: ${{ vars.AWS_REGION }}
      - name: Launch EC2 Runner
        id: start-ec2-runner
        uses: gingercybersecurity/provision-ec2-runner
        with:
          runner-name: ${{ vars.DEPLOY_RUNNER_NAME }} # this must match the name used to pre-configure the AMI
          runner-label: ${{ vars.DEPLOY_RUNNER_LABEL }} # this must match the label used to pre-configure the AMI
          subnet-id: ${{ vars.AWS_SUBNET_ID }} # subnet-abcde
          security-group-id: ${{ vars.AWS_SECURITY_GROUP_ID }} # sg-abcde
          ami-id: ${{ vars.AWS_AMI_ID }} # ami-abcde
          instance-type: t3.micro
          key-name: ${{ vars.AWS_KEY_NAME }}
          tag-name: 'ManagedBy'
          tag-value: 'github-actions'

  test:
    name: Run Tests
    needs: start-runner
    runs-on: ${{ needs.start-runner.outputs.runner-label }}
    steps:
      - name: Run Tests
        run: |
          echo "Tests go here"

  stop-runner:
    name: Stop EC2 runner
    # Always stop the runner regardless of workflow failure or cancellation
    if: ${{ always() }}
    needs:
      - start-runner
      - test
    runs-on: ubuntu-latest
    steps:
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v5
        with:
          audience: sts.amazonaws.com
          role-to-assume: arn:aws:iam::${{ vars.AWS_ACCOUNT_ID }}:role/YourGitHubActionsRoleHere
          aws-region: ${{ vars.AWS_REGION }}

      - name: Run EC2 Stop
        uses: gingercybersecurity/terminate-ec2-runner
        with:
          instance-id: ${{ needs.start-runner.outputs.instance-id }}
